voice agent.blueprint.json
{
    "name": "voice agent",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appL0xPI3271rlH5r",
                "view": "",
                "table": "tblIye6o5KhFQUab0",
                "config": {
                    "labelField": "Company",
                    "triggerField": "Created"
                },
                "formula": "{Qualification} = \"qualified\"",
                "maxRecords": 10,
                "__IMTCONN__": 7631342,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Untitled Base"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Lead contacts"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Company"
                                },
                                "triggerField": {
                                    "label": "Created"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "First Name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Last Name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Budget",
                        "type": "number",
                        "label": "Budget"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Qualification",
                        "type": "text",
                        "label": "Qualification"
                    },
                    {
                        "name": "Message",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "contacted on",
                        "time": false,
                        "type": "date",
                        "label": "contacted on"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "vapi:createcall2",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7862371
            },
            "filter": null,
            "mapper": {
                "assistantId": "e64cd4ea-9bc1-4881-9ef1-c70694444654",
                "phoneNumberId": "098e8fb1-e9ba-4a52-ac1f-6a5247f52bed",
                "customer": {
                    "number": "{{1.Phone}}"
                },
                "assistantOverrides": {
                    "model": {},
                    "transcriber": {},
                    "serverMessages": [
                        "conversation-update",
                        "end-of-call-report",
                        "function-call",
                        "handoff-destination-request",
                        "hang",
                        "speech-update",
                        "status-update",
                        "tool-calls",
                        "transfer-destination-request",
                        "user-interrupted"
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 486,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Vapi connection",
                            "data": {
                                "scoped": "true",
                                "connection": "vapi"
                            }
                        }
                    },
                    "expect": {
                        "assistantId": {
                            "mode": "chose",
                            "label": "layan"
                        },
                        "phoneNumberId": {
                            "mode": "chose",
                            "label": "098e8fb1-e9ba-4a52-ac1f-6a5247f52bed"
                        },
                        "assistantOverrides": {
                            "nested": {
                                "model": {
                                    "nested": {
                                        "messages": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "serverMessages": {
                                    "mode": "chose"
                                },
                                "variableValues": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:vapi",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "assistantId",
                        "type": "select",
                        "label": "Assistant ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "phoneNumberId",
                        "type": "select",
                        "label": "Phone Number ID",
                        "required": true
                    },
                    {
                        "name": "customer",
                        "type": "collection",
                        "label": "Customer",
                        "required": true,
                        "spec": [
                            {
                                "name": "number",
                                "type": "text",
                                "label": "Number",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "assistantOverrides",
                        "type": "collection",
                        "label": "Assistant Overrides",
                        "spec": [
                            {
                                "name": "model",
                                "type": "collection",
                                "label": "Model",
                                "spec": [
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "text",
                                                    "label": "Role"
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "name": "value"
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "transcriber",
                                "type": "collection",
                                "label": "Transcriber",
                                "spec": [
                                    {
                                        "name": "provider",
                                        "type": "text",
                                        "label": "Provider"
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "language",
                                        "type": "text",
                                        "label": "Language"
                                    }
                                ]
                            },
                            {
                                "name": "serverMessages",
                                "type": "select",
                                "label": "Server Messages",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "chat.created",
                                        "chat.deleted",
                                        "conversation-update",
                                        "end-of-call-report",
                                        "function-call",
                                        "handoff-destination-request",
                                        "hang",
                                        "language-change-detected",
                                        "language-changed",
                                        "model-output",
                                        "phone-call-control",
                                        "session.created",
                                        "session.deleted",
                                        "session.updated",
                                        "speech-update",
                                        "status-update",
                                        "tool-calls",
                                        "transcript",
                                        "transcript[transcriptType=\"final\"]",
                                        "transfer-destination-request",
                                        "transfer-update",
                                        "user-interrupted",
                                        "voice-input"
                                    ]
                                }
                            },
                            {
                                "name": "variableValues",
                                "type": "array",
                                "label": "Variable Values",
                                "spec": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    }
                                ]
                            },
                            {
                                "name": "voicemailMessage",
                                "type": "text",
                                "label": "Voicemail Message"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": 901,
                    "y": -13
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "validate": {
                            "min": 1,
                            "max": 300
                        },
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1201,
                    "y": -13
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 7862778,
                                "saveAfterSent": false
                            },
                            "filter": null,
                            "mapper": {
                                "to": [
                                    "{{1.Phone}}"
                                ],
                                "subject": "",
                                "contentType": "html",
                                "attachments": [],
                                "cc": [],
                                "bcc": [],
                                "from": "",
                                "sender": "",
                                "replyTo": "",
                                "inReplyTo": "",
                                "references": [],
                                "priority": "normal",
                                "headers": [],
                                "html": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Google Restricted connection 1 (layaniaa3000@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "type": "array",
                                        "label": "References",
                                        "spec": {
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 7631342
                            },
                            "mapper": {
                                "id": "{{1.id}}",
                                "base": "appL0xPI3271rlH5r",
                                "table": "tblIye6o5KhFQUab0",
                                "record": {
                                    "fldyZT4Djfbs9dUTu": "\"record\": {\r\n  \"contacted on\": \"{{now}}\"\r\n}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Untitled Base"
                                        },
                                        "table": {
                                            "label": "Lead contacts"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldstx3pwOlZb6qON": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld9CvqCxcRuoooPr",
                                                "type": "text",
                                                "label": "First Name"
                                            },
                                            {
                                                "name": "fldsXmvftiYqo9UQ0",
                                                "type": "text",
                                                "label": "Last Name"
                                            },
                                            {
                                                "name": "fldECwx4b4kfPZLv1",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldNq39xYp0SV1Fy0",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "fld1x4gZcnaMgDpbl",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "fld5OOCVTOh8diEpK",
                                                "type": "number",
                                                "label": "Budget"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldstx3pwOlZb6qON",
                                                "type": "select",
                                                "label": "Qualification"
                                            },
                                            {
                                                "name": "fldyZT4Djfbs9dUTu",
                                                "time": false,
                                                "type": "date",
                                                "label": "contacted on"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "First Name",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "Last Name",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "Company",
                                        "type": "text",
                                        "label": "Company"
                                    },
                                    {
                                        "name": "Budget",
                                        "type": "number",
                                        "label": "Budget"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "Qualification",
                                        "type": "text",
                                        "label": "Qualification"
                                    },
                                    {
                                        "name": "Message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "contacted on",
                                        "time": false,
                                        "type": "date",
                                        "label": "contacted on"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "\"value\"\\s*:\\s*\"([^\"]+)\"",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{1.Message}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1878,
                                    "y": 144
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7752040
                            },
                            "mapper": {
                                "text": "{{`6`}}",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "C0AK7PV89PF",
                                "channelType": "public",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2331,
                                    "y": 160
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "our-team"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            },
                                            "label": "My Slack (bot) connection (ai-qi66823.slack.com - make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}